@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Mouse+Memoirs&display=swap');
@import "tailwindcss";
@plugin "daisyui";

html, body {
 font-size: 24px !important;
}
@theme{
  --color-pulsed-button: #ffc4dc;
  --color-unpulsed-button: #ffd4e5;
  --color-bg-gradient-1: #ffb5d1;
  --color-tooltip-main: #d3427e;
  --color-primary: #bb316b;

}

 @plugin "daisyui/theme" {
   name: "focus";
   default: true;
   prefersdark: false;
   color-scheme: "light";
   --color-primary: #bb316b;
   color: var(--color-primary);
   
 }
@plugin "daisyui/theme" {
  name: "short-break";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-primary: #3166bb;
  --color-unpulsed-button: #daedff;
  --color-pulsed-button: #9fcdff;
  --color-bg-gradient-1: #cef0ff;
  --color-tooltip-main: #91c6ff;
}

@plugin "daisyui/theme" {
  name: "long-break";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-primary: #7f40af;
  --color-unpulsed-button: #f0e0ff;
  --color-pulsed-button: #de9dff;
  --color-bg-gradient-1: #e0c3ff;
  --color-tooltip-main: #e4afff;
}

[data-theme="short-break"] {
  .heart {
    background-image: url('img/heart-aura-blue.png');
    /* filter: hue-rotate(256deg); */
  }
}
[data-theme="long-break"] {
  .heart {
    background-image: url('/img/heart-aura-purple.png');
    /* filter: hue-rotate(310deg); */
  }
}



    body {
      font-family: "Mouse Memoirs", serif;
      height: 100vh;
      width: 100vw;
      color: var(--color-primary);
      background:
        radial-gradient(var(--color-bg-gradient-1), var(--color-bg-gradient-1), white);
    }
  
    .heart {
      background-image: url('/img/heart-aura-pink.png');
      background-size: 900px auto;
      background-position: center;
      background-repeat: no-repeat;
      filter: hue-rotate(0);
      transition: filter 5s ease-in-out;
    }
  
    .agdasima {
      font-family: "Agdasima", serif;
      font-weight: 400;
      font-style: normal;
    }
    .is-changing{
      .countdown {
      
          &>*,
          :before,
          :after {
            transition: color 0s;
          }
        }
    }
   