@import "tailwindcss";
@plugin "daisyui";

:root{
    --color-primary: #bb316b;
    --color-primary-content: white;

    /* boton */
    --color-secondary: #FFD9E9;  
    --color-secondary-content: #ffa0c6; 

    /* gardiant */
    --color-base-content: #ffb5d1;

  /* --------- */

    --color-base-100: #ffa0c6;
    --color-base-200: #FFD9E9;
    --color-base-300: #ffa0c6;
    
    --color-accent: oklch(76.76% 0.184 183.61);
    --color-accent-content: oklch(15.352% 0.036 183.61);
    --color-neutral: oklch(20% 0.024 255.701);
    --color-neutral-content: oklch(89.499% 0.011 252.096);
    --color-info: oklch(72.06% 0.191 231.6);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(64.8% 0.15 160);
    --color-success-content: oklch(0% 0 0);
    --color-warning: oklch(84.71% 0.199 83.87);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(71.76% 0.221 22.18);
    --color-error-content: oklch(0% 0 0);
  }
  .descanso{
    --color-primary: blue;
  }